html, body {
  margin: 0;
}

body {
  margin: 0 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

div.small {
  width: 50px !important;
}

div.medium {
  width: 250px !important;
}
.header > div {
  background-color: #016D9E;
  margin: 0.5px;
  color: white;
  width: 108px;
  text-align: center;
  padding: 10px 0px;
}

.content > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content > div > div {
  width: 108px;
  padding: 15px 0px;
  text-align: center;
  margin: 0.5px;
  height: 21.6px;
}

.content > div > div.red {
  color: red;
}

.content > div > div.yellow {
  color: #FFB808
}


.content > div:nth-child(odd) > div {
  background-color: #F1F7F7;
}

.content > div:nth-child(even) > div {
  background-color: white;
}

.date {
  width: calc(50px + 108px + 108px + 108px + 108px + 108px + 250px);
  text-align: right;
  margin: 0 auto;
}

#date_text {
  margin-top: 8px;
  color: #016D9E;
}


.home_btn_wrapper {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 20px;
}

.home_btn {
  display: flex;
  height: 56px;
  background-color: rgb(0, 122, 255);
  border-radius: 5px;
  cursor: pointer;
  width: 340px;
  align-items: center;
  justify-content: center;
}

.home_btn > a {
  display: block;
  width: 340px;
  height: 56px;
  font-size: 16px;
  line-height: 56px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Noto Sans KR";
  font-weight: 700;
  text-decoration: none;
}

.hospitalized-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  margin: 30px 0px 20px;
  font-weight: 700;
  font-size: 32px;
}

.hospitalized-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;
}

.hospitalized-status-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.hospitalized-status-content-wrapper {
  width: calc(50% - 1.5px);
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.hospitalized-status-content {
  height: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 32px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  white-space: nowrap;
  line-height: 40px;
  overflow: hidden;
}

.content-numbers {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.content-numbers.red > div {
  background-color: #FFE7E7;
}

.content-numbers.red > div.hospitalized-status-content-1 {
  color: #FF5B5B;
}

.content-numbers.blue > div {
  background-color: #EDF1F9;
}
.content-numbers.blue > div.hospitalized-status-content-1 {
  color: #2F5597;
}

.content-numbers.purple > div {
  background-color: #EDE2F6;
}
.content-numbers.purple > div.hospitalized-status-content-1 {
  color: #7132A1
}
.content-numbers.yellow > div {
  background-color: #FFF2CC;
}
.content-numbers.yellow > div.hospitalized-status-content-1 {
  color: #E2AC01
}

.content-numbers.orange > div {
  background-color: #FEE9D2;
}
.content-numbers.orange > div.hospitalized-status-content-1 {
  color: #F5BA90
}

.content-numbers.gray > div {
  background-color: #E7E6E6;
}
.content-numbers.gray > div.hospitalized-status-content-1 {
  background-color: #E7E6E6;
  color: black
}

.hospitalized-status-content-1 {
  width: 8%;
  font-weight: 700;
}
.hospitalized-status-content-2 {
  width: 11%;
  color: black;
  font-weight: 700;
}
.hospitalized-status-content-3 {
  width: 11%;
  color: black;
  font-weight: 700;
}
/* 23% 35% 10%  */
.hospitalized-status-content-4 {
  width: 27%;
  color: black;
  font-weight: 700;
}
.hospitalized-status-content-5 {
  width: 7%;
  color: black;
  font-weight: 700;
}
.hospitalized-status-content-6 {
  width: 11%;
  color: black;
  font-weight: 700;
}

.hospitalized-status-content-7 {
  width: calc(25% - 12px);
  color: black;
  font-size: 14px;
}

.hospitalized-notice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
}

.hospitalized-summarize {
  font-size: 24px;
}

#hospitalized-notice-text {
  color: #BF4141
}
#retire {
  height: 38px;
  line-height: 38px;
  color: #9f9f9f;
  border: 1px solid #777777;
  font-size: 14px;
}

.hospitalized-status-discharge-title {
  margin-left: 16px;
  font-size: 16px;
}

.hospitalized-status-discharge-black {
  color: black !important;
}

.column-headers > div.hospitalized-status-content {
  background-color:#f2f2f2;
}

.column-headers > div.hospitalized-status-content-7 {
  font-size: 18px;
}

.hospitalized-summarize {
  margin: 20px 0 10px 0;
}

#hospitalized-summarize-1st {
  color: #ef4d4d;
}

#hospitalized-summarize-2nd {
  color: #4181a1;
}

#hospitalized-summarize-3rd {
  color: #e2a206;
}

#hospitalized-summarize-4th {
  color: #e78a57;
}

#hospitalized-summarize-5th {
  color: #ad6ebb;
}

#hospitalized-summarize-6th {
  color:#777777;
}